<app-navbar></app-navbar>

<div class="container" style="margin-top: 60px;">
    <div>
        <div class="card">
            <div class="card-header text-light bg-info">
              MY PROFILE
            </div>
            <div class="card-body">
              <div class="row">
                    <div class="col-md-6">
                        <th scope="col">User Name</th>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{profile?.name}}</p>
                    </div>
              </div>
              <br/>
              
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">Email</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.email}}</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">Mobile Number</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.mobile}}</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">Date of Birth</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.dob|date}}</p>
                </div>
              </div>
            
             
              <br/>
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">City</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.city}}</p>
                </div>
              </div>
              <br/>
             
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">Memebership Start Date</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.membershipStart|date}}</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">Memebership End Date</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.membershipEnd|date}}</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                    <th scope="col">Read Hours</th>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{profile?.readingHours}} hrs</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>